{% paginate customer.addresses by 5 %}
<div id="account-page">
	<div class="container validate-forms">

		<div class="headings">
			<h1 class="h3">{{ 'customer.account.title' | t }}</h1>		
			<p>
				<a href="/account" class="nowrap link-with-arrow">
					<i class="icon-arrow-left"></i>
					<span>{{ 'customer.account.return' | t }}</span>
				</a>
			</p>	
		</div>

		<div class="account-section">

			<div id="new-address-form" class="account-section" style="display: none">
				<h4>{{ 'customer.addresses.add_new' | t }}</h4>
				{% form 'customer_address', customer.new_address %}

					{{ form.errors | default_errors }}

					<div class="grid">
						<div class="col-1-2">
							<div class="field">
								<label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
								<input type="text"
           								name="address[first_name]"
           								id="AddressFirstNameNew"
           								value="{{ form.first_name }}"
           								autocapitalize="words" />
							</div>
						</div>
						<div class="col-1-2">
							<div class="field">
								<label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
							    <input type="text"
							           name="address[last_name]"
							           id="AddressLastNameNew"
							           value="{{ form.last_name }}"
							           autocapitalize="words" />
							</div>
						</div>
					</div>
					<div class="grid">
						<div class="col-1-1">
							<div class="field">
								<label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
							    <input type="text"
							           name="address[company]"
							           id="AddressCompanyNew"
							           value="{{ form.company }}"
							           autocapitalize="words" />
							</div>
						</div>
					</div>
					<div class="grid">
						<div class="col-1-1">
							<div class="field">
								<label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
							    <input type="text"
							           name="address[address1]"
							           id="AddressAddress1New"
							           value="{{ form.address1 }}"
							           autocapitalize="words" />
							</div>
						</div>
					</div>
					<div class="grid">
						<div class="col-1-1">
							<div class="field">
								<label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
							    <input type="text"
							           name="address[address2]"
							           id="AddressAddress2New"
							           value="{{ form.address2 }}"
							           autocapitalize="words" />
							</div>
						</div>
					</div>
					<div class="grid">
						<div class="col-1-2">
							<div class="field">
								<label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
							    <input type="text"
							           name="address[zip]"
							           id="AddressZipNew"
							           value="{{ form.zip }}"
							           autocapitalize="characters" />
							</div>
						</div>
						<div class="col-1-2">
							<div class="field">
								<label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
							    <input type="text"
							           name="address[city]"
							           id="AddressCityNew"
							           value="{{ form.city }}"
							           autocapitalize="words" />
							</div>
						</div>
					</div>
					<div class="grid">
						<div class="col-1-2">
							<div class="field">
								<label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
							    <select
									name="address[country]"
									id="AddressCountryNew"
									class="raw country-select"
									data-default="{{ form.country }}">
									{{ country_option_tags }}
							    </select>
							</div>
						</div>
						<div class="col-1-2 province-hidden-container" id="AddressProvinceContainerNew" style="display: none">
							<div class="field">
								<label for="AddressProvinceContainerNew">{{ 'customer.addresses.province' | t }}</label>
								<select
									name="address[province]"
									id="AddressProvinceNew"
									class="province-select"
									data-default="{{ form.province }}">
								</select>
							</div>
						</div>
					</div>
					<div class="grid">
						<div class="col-1-1">
							<div class="field">
								<label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
							    <input type="tel"
							           name="address[phone]"
							           id="AddressPhoneNew"
							           value="{{ form.phone }}"
							           pattern="[0-9\-]*" />
							</div>
						</div>
					</div>
					<div class="gird">
						<div class="col-1-1">
							<div class="field">
								<label for="address_default_address_new">
							    	{{ form.set_as_default_checkbox }}
							    	<span>{{ 'customer.addresses.set_default' | t }}</span>
							    </label>
							</div>
						</div>
					</div>
					<div class="grid">
						<div class="col-1-1">
							<div class="field center">
								<a href="#" id="cancel-address">{{ 'customer.addresses.cancel' | t }}</a>
							</div>
						</div>
					</div>
					<div class="grid">
						<div class="col-1-1">
							<div class="field">
								<button type="submit" class="full">{{ 'customer.addresses.add' | t }}</button>
							</div>
						</div>
					</div>
				{% endform %}
			</div>

			<a href="#" id="new-address-trigger" class="btn-primary">{{ 'customer.addresses.add_new' | t }}</a>

		</div>

		<div class="account-section">
			<h4>{{ 'customer.addresses.title' | t }}</h4>
			<table class="data-table addresses-list">
				<tbody>

					{% for address in customer.addresses %}
					<tr>
						<td>
							<div class="address-container">
								{% if address == customer.default_address %}
	      							<strong>{{ 'customer.addresses.default' | t }}</strong>
	    						{% endif %}

								{{ address | format_address }}

								<p>
									<a href="#" class="edit-address-trigger">{{ 'customer.addresses.edit' | t }}</a><br/>
									<a href="#" data-form-id="{{ address.id }}" class="delete-address-trigger" data-confirm-text="{{ 'customer.addresses.delete_confirm' | t }}">{{ 'customer.addresses.delete' | t }}</a>
								</p>
							</div>
							<div class="edit-form-container" style="display: none">
								{% form 'customer_address', address %}

									{{ form.errors | default_errors }}

									<div class="grid">
										<div class="col-1-2">
											<div class="field">
											<label for="AddressFirstName_{{ form.id }}">
												{{ 'customer.addresses.first_name' | t }}
											</label>
											<input type="text"
											     name="address[first_name]"
											     id="AddressFirstName_{{ form.id }}"
											     value="{{ form.first_name }}"
											     autocapitalize="words" />
											</div>
										</div>
										<div class="col-1-2">
											<div class="field">
												<label for="AddressLastName_{{ form.id }}">
													{{ 'customer.addresses.last_name' | t }}
												</label>
												<input type="text"
												     name="address[last_name]"
												     id="AddressLastName_{{ form.id }}"
												     value="{{ form.last_name }}"
												     autocapitalize="words" />
											</div>
										</div>
									</div>
									<div class="grid">
										<div class="col-1-1">
											<div class="field">
												<label for="AddressCompany_{{ form.id }}">
													{{ 'customer.addresses.company' | t }}
												</label>
												<input type="text"
												     name="address[company]"
												     id="AddressCompany_{{ form.id }}"
												     value="{{ form.company }}"
												     autocapitalize="words" />
											</div>
										</div>
									</div>
									<div class="grid">
										<div class="col-1-1">
											<div class="field">
											<label for="AddressAddress1_{{ form.id }}">
												{{ 'customer.addresses.address1' | t }}
											</label>
											<input type="text"
											     name="address[address1]"
											     id="AddressAddress1_{{ form.id }}"
											     value="{{ form.address1 }}"
											     autocapitalize="words" />
											</div>
										</div>
									</div>
									<div class="grid">
										<div class="col-1-1">
											<div class="field">
											<label for="AddressAddress2_{{ form.id }}">
												{{ 'customer.addresses.address2' | t }}
											</label>
											<input type="text"
											     name="address[address2]"
											     id="AddressAddress2_{{ form.id }}"
											     value="{{ form.address2 }}"
											     autocapitalize="words" />
											</div>
										</div>
									</div>
									<div class="grid">
										<div class="col-1-2">
											<div class="field">
												<label for="AddressZip_{{ form.id }}">
													{{ 'customer.addresses.zip' | t }}
												</label>
												<input type="text"
												     name="address[zip]"
												     id="AddressZip_{{ form.id }}"
												     value="{{ form.zip }}"
												     autocapitalize="characters" />
											</div>
										</div>
										<div class="col-1-2">
											<div class="field">
												<label for="AddressCity_{{ form.id }}">
													{{ 'customer.addresses.city' | t }}
												</label>
												<input type="text"
												     name="address[city]"
												     id="AddressCity_{{ form.id }}"
												     value="{{ form.city }}"
												     autocapitalize="words" />
											</div>
										</div>
									</div>
									<div class="grid">
										<div class="col-1-2">
											<div class="field">
												<label for="AddressCountry_{{ form.id }}">
													{{ 'customer.addresses.country' | t }}
												</label>
												<select
													name="address[country]"
													id="AddressCountry_{{ form.id }}"
													class="raw country-select"
													data-form-id="{{ form.id }}"
													data-default="{{ form.country }}">
													{{ country_option_tags }}
												</select>
											</div>
										</div>
										<div class="col-1-2 province-hidden-container" id="AddressProvinceContainer_{{ form.id }}" style="display: none">
											<div class="field">
											<label for="AddressProvince_{{ form.id }}">
												{{ 'customer.addresses.province' | t }}
											</label>
											<select
											  	name="address[province]"
											  	id="AddressProvince_{{ form.id }}"
											  	class="province-select"
											  	data-default="{{ form.province }}">
											</select>
											</div>
										</div>
									</div>
									<div class="grid">
										<div class="col-1-1">
											<div class="field">
											<label for="AddressPhone_{{ form.id }}">
												{{ 'customer.addresses.phone' | t }}
											</label>
											<input type="tel"
											     name="address[phone]"
											     id="AddressPhone_{{ form.id }}"
											     value="{{ form.phone }}"
											     pattern="[0-9\-]*">
											</div>
										</div>
									</div>
									<div class="gird">
										<div class="col-1-1">
											<div class="field">
												<label for="address_default_address_{{ form.id }}">
											    	{{ form.set_as_default_checkbox }}
											    	<span>{{ 'customer.addresses.set_default' | t }}</span>
											    </label>
											</div>
										</div>
									</div>
									<div class="grid">
										<div class="col-1-1">
											<div class="field center">
												<a href="#" class="cancel-edit">{{ 'customer.addresses.cancel' | t }}</a>
											</div>
										</div>
									</div>
									<div class="grid">
										<div class="col-1-1">
											<div class="field">
												<button type="submit" class="full">{{ 'customer.addresses.update' | t }}</button>
											</div>
										</div>
									</div>
								{% endform %}
							</div>
						</td>
					</tr>
					{% endfor %}

				</tbody>
			</table>

		</div>

		{% if paginate.pages > 1 %}
    		{% include 'pagination' %}
  		{% endif %}

	</div>
</div>
{% endpaginate %}