<div id="account-page">
	<div class="container validate-forms-inside">

		<div class="headings">
			<h1 class="h3">{{ 'customer.reset_password.title' | t }}</h1>		
		</div>

		{% form 'reset_customer_password' %}

			{{ form.errors | default_errors }}

			<div class="field">
				<label for="ResetPassword">{{ 'customer.reset_password.password' | t }} <span class="asterix">*</span></label>
    			<input type="password"
      				name="customer[password]"
      				id="ResetPassword"
      				required />
			</div>
			<div class="field">
				<label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }} <span class="asterix">*</span></label>
    			<input type="password"
      				name="customer[password_confirmation]"
      				id="PasswordConfirmation"
      				required />
			</div>
			<div class="field">
				<button type="submit" class="full margin-top">{{ 'customer.reset_password.submit' | t }}</button>
			</div>
		{% endform %}

	</div>
</div>