{% layout 'password' %}

<div id="password" class="bg-gray">
	<a href="#" class="trigger" id="enter-using-password-trigger">
		<i class="icon-lock"></i>
		<span>{{ 'general.password_page.password_link' | t }}</span>
	</a>

	<a href="#" class="trigger" id="enter-notify-me-trigger" style="display: none;">
		<i class="icon-close"></i>
		<span>{{ 'general.password_page.cancel' | t }}</span>
	</a>

	<div class="container validate-forms-inside">
		<h1 itemscope itemtype="http://schema.org/Organization">{{ shop.name }}</h1>

		{% unless shop.password_message == blank %}
			<p>
		    	{{ shop.password_message }}
		  	</p>
		{% endunless %}

		<div id="notify-me-form">
			{% form 'customer' %}
				
				{{ form.errors | default_errors }}

				{% if form.posted_successfully? %}
					<div class="headings">
						<h3>{{ 'general.password_page.coming_soon' | t }}</h3>
						<p>{{ 'general.password_page.signup_form_success' | t }}</p>
					</div>
				{% else %}
					<input type="hidden" name="contact[tags]" value="prospect, password page">
					<div class="headings">
						<h3>{{ 'general.password_page.coming_soon' | t }}</h3>
						<p>{{ 'general.password_page.signup_form_heading' | t }}</p>
					</div>
					<div class="field">
						<input type="email"
      						name="contact[email]"
      						id="Email"
						    spellcheck="false"
						    autocomplete="off"
						    autocapitalize="off"
						    placeholder="{{ 'general.password_page.signup_form_email_label' | t }}" 
						    required>
					</div>
					<div class="field">
						<button type="submit" name="commit" class="full">{{ 'general.password_page.signup_form_submit' | t }}</button>
					</div>
				{% endif %}

			{% endform %}
		</div>
		
		<div id="enter-using-password-form" style="display: none;">
			{% form 'storefront_password' %}

				{{ form.errors | default_errors }}

				<div class="headings">
					<h3>{{ 'general.password_page.login_form_heading' | t }}</h3>
					<p>{{ 'general.password_page.admin_link_html' | t }}</p>
				</div>
				<div class="field">
					<input type="password"
        				name="password"
        				id="Password"
        				placeholder="{{ 'general.password_page.login_form_password_label' | t }}" 
        				required="">
				</div>
				<div class="field">
					<button type="submit" name="commit" class="full">{{ 'general.password_page.login_form_submit' | t }}</button>
				</div>

			{% endform %}
		</div>

		{% if settings.share_facebook or settings.share_twitter or settings.share_google_plus %}
  			{% include 'social-sharing' %}
		{% endif %}

	</div>

</div>